# Lab 3. Pandas, метод ближайших соседей и решающие деревья.

Name: Okapova Akerke

Student ID: 15BD02047

Email: okapova.akerke@gmail.com

## Часть 1: Pandas

#### Ответьте на вопросы о данных по авиарейсам в США.

Данные: http://stat-computing.org/dataexpo/2009/2008.csv.bz2
(обратите внимание, что распаковывать этот файл не обязательно — функция `pandas.read_csv` умеет читать из архивов автоматически)

Описание: http://stat-computing.org/dataexpo/2009/the-data.html

In [1]:
import numpy as np
import pandas as pd
import time

In [2]:
data = pd.read_csv("2008.csv.bz2")
data.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,7009728.0,7.009728e+06,7.009728e+06,7.009728e+06,6.873482e+06,7.009728e+06,6.858079e+06,7.009728e+06,7.009728e+06,6.855029e+06,...,7.009728e+06,6.858079e+06,6.872670e+06,7.009728e+06,7.009728e+06,1.524735e+06,1.524735e+06,1.524735e+06,1.524735e+06,1.524735e+06
mean,2008.0,6.375130e+00,1.572801e+01,3.924182e+00,1.333830e+03,1.326086e+03,1.481258e+03,1.494801e+03,2.224200e+03,1.273224e+02,...,7.263870e+02,6.860852e+00,1.645305e+01,1.960618e-02,2.463006e-03,1.577206e+01,3.039031e+00,1.716462e+01,7.497434e-02,2.077098e+01
std,0.0,3.406737e+00,8.797068e+00,1.988259e+00,4.780689e+02,4.642509e+02,5.052251e+02,4.826728e+02,1.961716e+03,7.018731e+01,...,5.621018e+02,4.933649e+00,1.133280e+01,1.386426e-01,4.956753e-02,4.009912e+01,1.950287e+01,3.189495e+01,1.837940e+00,3.925964e+01
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.200000e+01,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,9.280000e+02,9.250000e+02,1.107000e+03,1.115000e+03,6.220000e+02,7.700000e+01,...,3.250000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.325000e+03,1.320000e+03,1.512000e+03,1.517000e+03,1.571000e+03,1.100000e+02,...,5.810000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.728000e+03,1.715000e+03,1.909000e+03,1.907000e+03,3.518000e+03,1.570000e+02,...,9.540000e+02,8.000000e+00,1.900000e+01,0.000000e+00,0.000000e+00,1.600000e+01,0.000000e+00,2.100000e+01,0.000000e+00,2.600000e+01
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.743000e+03,1.379000e+03,...,4.962000e+03,3.080000e+02,4.290000e+02,1.000000e+00,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

1. Какая из причин отмены рейса (`CancellationCode`) была самой частой? (расшифровки кодов можно найти в описании данных)

In [3]:
data.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [4]:
np.argmax(data.CancellationCode.value_counts())

/usr/local/lib/python3.7/site-packages/numpy/core/fromnumeric.py:51: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  return getattr(obj, method)(*args, **kwds)

'B'

2. Найдите среднее, минимальное и максимальное расстояние, пройденное самолетом.

In [5]:
data['Distance'].mean()

726.3870294253928

In [6]:
data['Distance'].min()

11

In [7]:
data['Distance'].max()

4962

3. Не выглядит ли подозрительным минимальное пройденное расстояние? В какие дни и на каких рейсах оно было? Какое расстояние было пройдено этими же рейсами в другие дни?

In [8]:
mindata = data[data.Distance == 11]
print("DATA")
print(mindata)
print("FLIGHT DATA")
print (mindata[['Year','Month','DayofMonth','DayOfWeek','FlightNum','UniqueCarrier']])

data4988 = data[data.FlightNum == 4988]
data5572 = data[data.FlightNum == 5572]
print("FLIGHT 4988")
print(data4988[['Year','Month','DayofMonth','DayOfWeek','FlightNum','UniqueCarrier', 'Distance']])
print("FLIGHT 5572")
print(data5572[['Year','Month','DayofMonth','DayOfWeek','FlightNum','UniqueCarrier', 'Distance']])

DATA
         Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  \
2547298  2008      5          15          4   2037.0        1800   2125.0
4392215  2008      8          10          7   1315.0        1220   1415.0

         CRSArrTime UniqueCarrier  FlightNum        ...         TaxiIn  \
2547298        1900            OH       4988        ...           10.0
4392215        1320            OH       5572        ...            8.0

         TaxiOut  Cancelled  CancellationCode  Diverted  CarrierDelay  \
2547298      7.0          0               NaN         0         145.0
4392215     38.0          0               NaN         0          55.0

        WeatherDelay NASDelay  SecurityDelay  LateAircraftDelay
2547298          0.0      0.0            0.0                0.0
4392215          0.0      0.0            0.0                0.0

[2 rows x 29 columns]
FLIGHT DATA
         Year  Month  DayofMonth  DayOfWeek  FlightNum UniqueCarrier
2547298  2008      5          15          4       4988            OH
4392215  2008      8          10          7       5572            OH
FLIGHT 4988
         Year  Month  DayofMonth  DayOfWeek  FlightNum UniqueCarrier  Distance
151771   2008      1           3          4       4988            OH       834
152430   2008      1           4          5       4988            OH       834
153088   2008      1           5          6       4988            OH       834
153545   2008      1           6          7       4988            OH       834
154096   2008      1           7          1       4988            OH       834
154750   2008      1           8          2       4988            OH       834
155308   2008      1           9          3       4988            OH       834
155962   2008      1          10          4       4988            OH       834
156627   2008      1          11          5       4988            OH       834
157287   2008      1          12          6       4988            OH       834
157747   2008      1          13          7       4988            OH       834
158301   2008      1          14          1       4988            OH       834
158958   2008      1          15          2       4988            OH       834
159514   2008      1          16          3       4988            OH       834
160169   2008      1          17          4       4988            OH       834
160833   2008      1          18          5       4988            OH       834
161492   2008      1          19          6       4988            OH       834
161950   2008      1          20          7       4988            OH       834
162493   2008      1          21          1       4988            OH       834
163151   2008      1          22          2       4988            OH       834
163707   2008      1          23          3       4988            OH       834
164361   2008      1          24          4       4988            OH       834
165027   2008      1          25          5       4988            OH       834
165688   2008      1          26          6       4988            OH       834
166150   2008      1          27          7       4988            OH       834
166704   2008      1          28          1       4988            OH       834
167361   2008      1          29          2       4988            OH       834
167917   2008      1          30          3       4988            OH       834
168567   2008      1          31          4       4988            OH       834
453560   2008      1           1          2       4988            OH       834
...       ...    ...         ...        ...        ...           ...       ...
6776729  2008     12          30          2       4988            EV       903
6776730  2008     12          29          1       4988            EV       903
6776731  2008     12          31          3       4988            EV       903
6776732  2008     12          28          7       4988            EV       903
6776733  2008     12          26          5       4988            EV       903
6776734  2008     12          24          3       4988            EV       903
6776735  2008     12           1          1       4988            EV       903
6776736  2008     12           6          6       4988            EV       903
6776737  2008     12           5          5       4988            EV       903
6776738  2008     12          12          5       4988            EV       903
6776739  2008     12           7          7       4988            EV       903
6776740  2008     12          25          4       4988            EV       903
6776741  2008     12           3          3       4988            EV       903
6776742  2008     12           4          4       4988            EV       903
6776743  2008     12          20          6       4988            EV       903
6776744  2008     12          22          1       4988            EV       903
6776745  2008     12           8          1       4988            EV       903
6776746  2008     12          16          2       4988            EV       903
6776747  2008     12          19          5       4988            EV       903
6776748  2008     12          11          4       4988            EV       903
6776749  2008     12          13          6       4988            EV       903
6776750  2008     12          15          1       4988            EV       903
6776751  2008     12           9          2       4988            EV       903
6776752  2008     12           2          2       4988            EV       903
6776753  2008     12          21          7       4988            EV       903
6776754  2008     12          23          2       4988            EV       903
6776755  2008     12          14          7       4988            EV       903
6776756  2008     12          17          3       4988            EV       903
6776757  2008     12          10          3       4988            EV       903
6776758  2008     12          18          4       4988            EV       903

[225 rows x 7 columns]
FLIGHT 5572
         Year  Month  DayofMonth  DayOfWeek  FlightNum UniqueCarrier  Distance
151629   2008      1           2          3       5572            OH       544
152291   2008      1           3          4       5572            OH       544
152949   2008      1           4          5       5572            OH       544
153419   2008      1           5          6       5572            OH       544
153963   2008      1           6          7       5572            OH       544
154611   2008      1           7          1       5572            OH       544
155185   2008      1           8          2       5572            OH       544
155823   2008      1           9          3       5572            OH       544
156485   2008      1          10          4       5572            OH       544
157148   2008      1          11          5       5572            OH       544
157622   2008      1          12          6       5572            OH       544
158169   2008      1          13          7       5572            OH       544
158819   2008      1          14          1       5572            OH       544
159392   2008      1          15          2       5572            OH       544
160029   2008      1          16          3       5572            OH       544
160692   2008      1          17          4       5572            OH       544
161355   2008      1          18          5       5572            OH       544
161828   2008      1          19          6       5572            OH       544
162361   2008      1          20          7       5572            OH       544
163012   2008      1          21          1       5572            OH       544
163585   2008      1          22          2       5572            OH       544
164222   2008      1          23          3       5572            OH       544
164885   2008      1          24          4       5572            OH       544
165549   2008      1          25          5       5572            OH       544
166024   2008      1          26          6       5572            OH       544
166572   2008      1          27          7       5572            OH       544
167222   2008      1          28          1       5572            OH       544
167795   2008      1          29          2       5572            OH       544
168432   2008      1          30          3       5572            OH       544
169083   2008      1          31          4       5572            OH       544
...       ...    ...         ...        ...        ...           ...       ...
6635221  2008     12          19          5       5572            OO       329
6635222  2008     12          21          7       5572            OO       329
6635223  2008     12          22          1       5572            OO       329
6635224  2008     12          24          3       5572            OO       329
6635225  2008     12          31          3       5572            OO       329
6635226  2008     12          25          4       5572            OO       329
6635227  2008     12          26          5       5572            OO       329
6635228  2008     12          28          7       5572            OO       329
6635229  2008     12          30          2       5572            OO       329
6635230  2008     12          27          6       5572            OO       329
6635231  2008     12          29          1       5572            OO       329
6635232  2008     12          20          6       5572            OO       329
6771546  2008     12          13          6       5572            EV       669
6771547  2008     12          10          3       5572            EV       134
6771548  2008     12           2          2       5572            EV       134
6771549  2008     12           3          3       5572            EV       134
6771550  2008     12           6          6       5572            EV       134
6771551  2008     12           5          5       5572            EV       134
6771552  2008     12           8          1       5572            EV       134
6771553  2008     12          12          5       5572            EV       134
6771554  2008     12          11          4       5572            EV       134
6771555  2008     12           7          7       5572            EV       134
6771556  2008     12           4          4       5572            EV       134
6771557  2008     12           9          2       5572            EV       134
6771558  2008     12           1          1       5572            EV       134
6771559  2008     12          13          6       5572            EV       669
6771560  2008     12          26          5       5572            EV       508
6771561  2008     12          31          3       5572            EV       508
6771562  2008     12          29          1       5572            EV       508
6771563  2008     12          22          1       5572            EV       508

[826 rows x 7 columns]

4. Из какого аэропорта было произведено больше всего вылетов? В каком городе он находится?

In [9]:
np.argmax(data.Origin.value_counts())

'ATL'

5. Найдите для каждого аэропорта среднее время полета (`AirTime`) по всем вылетевшим из него рейсам. Какой аэропорт имеет наибольшее значение этого показателя?

In [10]:
print(data.groupby('Origin').AirTime.mean())
print(np.argmax(data.groupby('Origin').AirTime.mean()))

Origin
ABE     89.057518
ABI     36.789977
ABQ     91.657166
ABY     35.379759
ACK     50.692124
ACT     29.875977
ACV     58.850658
ACY    108.848214
ADK    151.423913
ADQ     41.987934
AEX     68.543556
AGS     36.933814
AKN     37.321429
ALB    101.860527
ALO     36.373134
AMA     56.196001
ANC    156.163749
ASE     48.307996
ATL     93.320419
ATW     50.696326
AUS    101.266600
AVL     69.899021
AVP     94.665204
AZO     34.846602
BDL    118.701612
BET     57.597815
BFL     64.024511
BGM     66.582260
BGR     90.211095
BHM     82.290713
          ...
SPS     29.490040
SRQ    103.083807
STL     99.294409
STT    168.681929
STX    168.101176
SUN     48.221851
SUX     44.918919
SWF    132.768826
SYR     84.524087
TEX     93.124183
TLH     59.293080
TOL     48.295047
TPA    117.917963
TRI     47.871046
TUL     80.876802
TUP     42.900000
TUS     92.801864
TVC     49.328770
TWF     41.316563
TXK     43.796312
TYR     30.372715
TYS     81.030894
VLD     45.158351
VPS     75.231116
WRG     16.741606
WYS     62.961977
XNA     84.253180
YAK     36.372159
YKM     80.697329
YUM     48.876952
Name: AirTime, Length: 303, dtype: float64
SJU

6. Найдите аэропорт, у которого наибольшая доля задержанных (`DepDelay > 0`) рейсов. Исключите при этом из рассмотрения аэропорты, из которых было отправлено меньше 1000 рейсов (используйте функцию `filter` после `groupby`).

In [11]:
grouped = data.groupby('Origin').filter(lambda x: len(x)>=1000)
filtered = grouped.groupby('Origin')
tmp = filtered.agg(lambda x: sum(x['DepDelay']>0)/float(len(x['DepDelay'])))['DepDelay']
max(tmp.iteritems(), key = lambda x: x[1])

('DAL', 0.5786418928942293)

Здесь вы можете поделиться своими мыслями о задании.

*Ну, сложновато было, да...*

А здесь вставьте смешную картинку.

![](https://i.redd.it/077bsten3fx01.jpg)

А здесь посоветуйте преподавателям хороший фильм или сериал.

[Loving Vincent](https://www.imdb.com/title/tt3262342/)

[Lucky Number Slevin](https://www.imdb.com/title/tt0425210/)

[Arrival](https://www.imdb.com/title/tt2543164/)

[A Quiet Place](https://www.imdb.com/title/tt6644200/)

[Nocturnal Animals](https://www.imdb.com/title/tt4550098/)